[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/metamorpho-v1.1"]
	path = lib/metamorpho-v1.1
	url = https://github.com/morpho-org/metamorpho-v1.1
